# Lab 5: Web API's

## Pre-Lab, sketch out a function, import it and call it

In [1]:
# imports
# from filename import functionname
from call_api import call_api

In [3]:
# call the functions

# w_type, n_data_pts = user_input()

# dummy values to prototype the call_api function
w_type = 'temperature'
n_data_pts = 20
df = call_api(w_type,n_data_pts)
df

# data_array = clean_data(df, w_type)

# plot_data(data_array, w_type)

                 created_at  entry_id  field4
0   2020-02-17 18:13:42 UTC   2729111    44.9
1   2020-02-17 18:14:42 UTC   2729112    44.7
2   2020-02-17 18:15:42 UTC   2729113    44.7
3   2020-02-17 18:16:42 UTC   2729114    44.7
4   2020-02-17 18:17:42 UTC   2729115    44.7
5   2020-02-17 18:18:42 UTC   2729116    44.5
6   2020-02-17 18:19:42 UTC   2729117    44.3
7   2020-02-17 18:20:42 UTC   2729118    44.3
8   2020-02-17 18:21:42 UTC   2729119    44.5
9   2020-02-17 18:22:42 UTC   2729120    44.5
10  2020-02-17 18:23:42 UTC   2729121    44.3
11  2020-02-17 18:24:42 UTC   2729122    44.3
12  2020-02-17 18:25:42 UTC   2729123    44.3
13  2020-02-17 18:26:42 UTC   2729124    44.7
14  2020-02-17 18:27:42 UTC   2729125    44.9
15  2020-02-17 18:28:42 UTC   2729126    45.0
16  2020-02-17 18:29:42 UTC   2729127    45.0
17  2020-02-17 18:30:42 UTC   2729128    45.0
18  2020-02-17 18:31:42 UTC   2729129    45.4
19  2020-02-17 18:32:42 UTC   2729130    45.6